<h1 class="MainHead">Team hinzufügen</h1>
<br/>
<form class="form-hotizontal" method="POST">
  <div class="form-group row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <input type="text" class="form-control form-control-lg " autofocus id="competitorName" #competitorName name="competitorName"
        placeholder="Teamname" [(ngModel)]="inputName" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <input type="submit" class="btn btn-default btn-block" value="Hinzufügen" (click)="onAddTeam()">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <input type="button" class="btn btn-default btn-block" value="Speichern" (click)="onSaveCompetitors()">
    </div>
  </div>

  <div *ngIf="ErrHTML" class="form-group row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="alert alert-danger text-center">
        <strong>{{ErrHTML}}</strong>
      </div>
    </div>
  </div>
</form>


<h1 class="MainHead">Liste der Teams</h1>

<div class="container mainContentContainer ">
  <div class="row ">
    <table class="table table-striped data-table ">
      <tr *ngFor="let competitor of competitors">
        <td width="90%" class="Name ">
          <a class="list-group-item-action" routerLink="/competitor/{{competitor}}">{{competitor}}</a>
        </td>
        <td width="10%" class="deleteIcon" style="cursor:pointer" (click)="onRemoveCompetitor( competitor)">
          <a (click)="onRemoveCompetitor( competitor)" style="cursor:pointer" class="list-group-item-action fas fa-minus-circle"></a>
        </td>
      </tr>
    </table>
  </div>
</div>
