<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Tournaments </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/mainpage" href="#">Startseite
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link mr-auto" href="#" routerLinkActive="active" routerLink="/gameplan"> Spielplan</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link mr-auto" href="#" routerLinkActive="active" routerLink="/results"> Ergebnisse</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link mr-auto" href="#" routerLinkActive="active" routerLink="/groups"> Gruppen</a>
        </li>


      </ul>
      <ul class="navbar-nav" *ngIf="isAdmin">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Admin
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink="/inputCompetitors">Teams</a>
            <a class="dropdown-item" href="#" routerLinkActive="active" routerLink="/adminPage">Turnierdetails</a>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-item nav-link"> LogIn</a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>
