<h1 class="MainHead">Turnier Administration</h1>
<div *ngIf="!details" class="alert alert-danger">Turnierkonfiguration konnte nicht geladen werden</div>
<div class="container mainContentContainer">
  <div *ngIf="!isAdmin" class="row justify-content-md-center">
    <div class="col-sm-3">
      <label for="AdminPW" class="col-sm-6 col-form-label">
        <h4>Passwort</h4>
      </label>
      <input type="password" class="form-control inputPW" id="AdminPW" name="AdminPW" [(ngModel)]="adminPW">
      <input (click)="onSetAdminPW()" type="submit" class="btn inputPwBtn" name="btnAdminPW" value="OK">
    </div>
  </div>
  <div *ngIf="details && isAdmin" class="row justify-content-md-center">
    <form method="POST">

      <h2>Turnier Einstellungen</h2>
      <br/>
      <br/>
      <div class="form-group row">
        <label for="numberOfParallelGames" class="col-sm-6 col-form-label">
          <h4>Anzahl Felder</h4>
        </label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="NumberOfParallelGames" name="NumberOfParallelGames" [(ngModel)]="details.NumberOfParallelGames">
        </div>
      </div>
      <div class="form-group row">
        <label for="MinutesPerGame" class="col-sm-6 col-form-label">
          <h4>Minuten pro Spiel</h4>
        </label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="MinutesPerGame" name="MinutesPerGame" [(ngModel)]="details.MinutesPerGame">
        </div>
      </div>
      <div class="form-group row">
        <label for="MinutesAvailForGroupsPhase" class="col-sm-6 col-form-label">
          <h4>Minuten für Gruppenphase</h4>
        </label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="MinutesAvailForGroupsPhase" name="MinutesAvailForGroupsPhase" [(ngModel)]="details.MinutesAvailForGroupsPhase">
        </div>
      </div>
      <div class="form-group row">
        <label for="FinalistCount" class="col-sm-6 col-form-label">
          <h4>Anzahl der Finalisten</h4>
        </label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="FinalistCount" name="FinalistCount" [(ngModel)]="details.FinalistCount">
        </div>
      </div>
      <div class="form-group row">
        <label for="startHour" class="col-sm-6 col-form-label">
          <h4>Startzeit</h4>
        </label>
        <div class="col-sm-3 form-group col-form-label">
          <!-- {{details.TournamentStartTime}} -->
          <!-- {{details.TournamentStartTime|date:'hh:mm'}} -->
          <!-- <input type="time" name="startTime" class="form-control" [(ngModel)]="tournamentStartTime"> -->
          <input type="number" name="startHour" min=0 max=23 [(ngModel)]="startHour">:
          <input type="number" name="startMins" min=0 max=59 [(ngModel)]="startMin">
        </div>
      </div>
      <div class="form-group row">
        <label for="finStartHour" class="col-sm-6 col-form-label">
          <h4>Startzeit Finale</h4>
        </label>
        <div class="col-sm-3">
          <input type="number" name="finStartHour" min=0 max=23 [(ngModel)]="finStartHour">:
          <input type="number" name="finStartMins" min=0 max=59 [(ngModel)]="finStartMin">
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-group row">
        <label for="minsToAdd" class="col-sm-6 col-form-label">
          <h4>Minuten hinzufügen</h4>
        </label>
        <div class="col-sm-3">
          <input type="number" name="minsToAdd" [(ngModel)]="minsToAdd">
          <button type="button" (click)="onSaveMinsToAdd()">OK</button>
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div *ngIf="Error">
        <br/>
        <div class="alert alert-danger">
          <strong>{{Error}}</strong>
        </div>
      </div>

      <div class="form-group row">
        <input (click)="onSave()" type="submit" class="btn" name="btnsave" value="Speichern">
        <input (click)="onCalcRandomDraw()" type="submit" class="btn" name="btnCalcDraw" value="Losnummern berechnen">
        <input (click)="onBuildTournament()" type="button" class="btn" name="build" value="Build Tournament">
        <input (click)="onCalcFinals()" type="button" class="btn" name="calcFinals" value="Finalrunden berechnen">
        <input (click)="onDeleteFinalRound()" type="button" class="btn" name="deleteFinals" value="Finalrunden löschen">
        <input (click)="onLoadFromDB()" type="button" class="btn" name="loadFromDB" value="Turnier aus DB laden">
        <input (click)="onSaveToDB()" type="button" class="btn" name="saveToDB" value="Turnier in DB speichern">
      </div>
    </form>
  </div>
</div>
