<div *ngIf='pairingSection'>
  <h1 class="MainHead" *ngIf="pairingSection.Description">{{pairingSection.Description}}</h1>
  <div class="container mainContentContainer">

    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped data-table">
          <tr>
            <th class="Time">Zeit</th>
            <th class="Court">Bahn</th>
            <th class="Round d-none d-sm-table-cell">Runde</th>
            <th class="C1">Team 1</th>
            <th class="C2">Team 2</th>
          </tr>
          <tr *ngFor="let pairing of pairingSection.Pairings">
            <td class="Time">{{pairing.FormattedTime}}</td>
            <td class="Court">{{pairing.Court}}</td>
            <td class="Round d-none d-sm-table-cell">{{pairing.RoundInfo}}</td>
            <td class="C1">{{pairing.Comp1Name}}</td>
            <td class="C2">{{pairing.Comp2Name}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
