<!-- <h1 class="MainHead">RSCI 4Kids </h1> -->

<!-- <div class="container">
  <div class="text-center clock">
    <div class="col col-lg-6">
      <img src="../../assets/4KidsLogo.png" class="logo" alt="">
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <div class="mainContentContainer">
        <div class="text-center clock">
          <p class="card-title ">
            <img src="../../assets/4KidsLogo.png" class="logo" alt="">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <div class="mainContentContainer">
        <div class="text-center clock">
          <p class="card-title ">
            <a>
              <span>{{hours}}</span>
            </a> :
            <a>
              <span>{{mins}}</span>
            </a> :
            <a>
              <span>{{secs}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 *ngIf="displayPairings" class="MainHead">aktuelle Spiele</h1>

<app-results *ngIf="displayPairings" [resultInfos]="resInfos" [isForMainPage]="true"></app-results>

<div *ngIf="!displayPairings">
  <h4 class="MainHead">Derzeit werden keine Spiele gespielt</h4>
</div>
