<h1 class="MainHead">RSCI 4Kids </h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <div class="mainContentContainer">
        <div class="card-body text-center">
          <p class="card-title ">
            <a>
              <span>{{hours}}</span>
            </a> :
            <a>
              <span>{{mins}}</span>
            </a> :
            <a>
              <span>{{secs}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="MainHead">aktuelle Spiele</h1>
<div *ngFor="let section of pairingSections">
  <app-gameplan *ngIf="section.Pairings && (section.Pairings.length) > 0" [pairingSection]="section"></app-gameplan>
</div>

<div *ngIf="!displayPairings">
  <h3 class="MainHead">Derzeit werden keine Spiele gespielt</h3>
</div>
